<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gbemmy.tictactoe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.gbemmy.tictactoe.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Computer_board_pref" />
        <activity android:name=".Human_board_pref" />
        <activity android:name=".MultiPlayerNameThree"/>
        <activity android:name=".MultiPlayerName5"/>
        <activity android:name=".SinglePlayerNameFive"/>
        <activity android:name=".SinglePlayerName"/>
        <activity android:name=".MultiPlayerGame"/>
        <activity android:name=".MultiPlayerGame5"/>
        <activity android:name=".SinglePlayerGame"/>
        <activity android:name=".SinglePlayerGame5"/>
        <activity android:name=".Stats"/>
    </application>

</manifest>